@page "/"

<PageTitle>Index</PageTitle>

@foreach (var article in @Articles)
{
    <div class="row">
        <div class="card m-5">
            <div class="card-header">@article.Title</div>
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">
                    @article.Description
                </p>
                <a href=@article.Url class="btn btn-primary">Read more ...</a>
            </div>
        </div>
    </div>
}

